.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar-default {
  background-color: #5490fe ;
}

.navbar-brand {
  color: white;
}

.btn {
  background-color: none;
  border: none
}

.fa {
  color: #b30b0b;
}

.fa-book {
  font-size: 36px;
  color: #5490fe;
}

.fa-user {
  font-size: 48px;
  color: #5490fe;
}

.table {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  color: #4d4d4d;
  text-align: center;
}

.books {
  text-align: center;
  margin-top: 40px;
  color: #4d4d4d;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (min-width: 1200px) {
  .container{
      max-width: 970px;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.author-container{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 14%;
}
.author-form-1{
  padding: 0%;
  /* box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19); */
  -webkit-appearance: none
}
.login-form-1 h3{
  text-align: center;
  color: #333;
}

.btnSubmit
{
    width: 20%;
    height: 10%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #5490fe;
}

.form-control {
  border:0;
  text-align: center;
  background-color: white;
  -webkit-appearance: none
  
}

input[type="text"]:disabled{background-color:white;}

p {
  color: #5490fe;
}

